<div class="show-wrapper">
  <div class="show-main">
    <div class="show-name">
      <p><%= @nickname %>さんの投稿一覧</p>
      <%= render "relationships/follow_button", user: @user %>
    </div>
    <% @requests.each do |request| %>
    <div class="show-title">
      <p><%= link_to "#{request.title}", request_path(request.id), method: :get%></p>
    </div>
  <% end %>

  <div class="follow-wrapper">
    <div class="follow-number">
      <ul class="follow-number-list">
        <li>follow: <%= current_user.followings.count %></li>
        <li>follower: <%= current_user.followers.count %></li>
      </ul>
    </div>
    
    <div class="follow-name">
      <div class="follow-name-list">
        <ul class="follow-member">
          <li><h3 class="follow-border">follow</h3><% @user.followings.each do |user| %><br>
                <%= link_to "#{user.nickname}", "/users/#{user.id}", class: "member" %>
              <% end %></li>

          <li><h3 class="follower-border">follower</h3><% @user.followers.each do |user| %><br>
                <%= link_to "#{user.nickname}", "/users/#{user.id}", class: "member" %>
              <% end %></li>
        </ul>
      </div>
    </div>
  </div>

</div>
